* {
  font-size: 1.5rem;
}

/* Sử dụng display : flex */
.container {
  display: flex;
  justify-content: center;
  background: brown;
  gap: 40px;
}

.box {
  width: 200px;
  height: 240px;
  border-radius: 40px;
  background: wheat;
}
