* {
  font-size: 1.5rem;
}

.box {
  border: 2px solid yellow;
  background-color: brown;
  /* mặc định chiều dài các box = content ! */
}

.container {
  display: flex;
  background-color: #ccc;
}

/* flex-grow : 0(Default)/1/2/... */
.box1,
.box3 {
  flex-grow: 1; /* box 1 và box 3 chiếm 1/7 */
}

.box2 {
  flex-grow: 5; /* box 2 chiếm 5/7 */
}
