* {
  font-size: 1.5rem;
}
.container {
  display: flex;
  background-color: #ddd;
}

.box {
  text-wrap: wrap;
  background-color: brown;
  border: 2px solid yellow;
  /* min-width: 30%; */
  /* max-width: 300px; */
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px; */

  flex: 0 1 200px;
  flex: 1;
}
