img {
  margin-top: 100px;
}

.container {
  display: inline-grid; /* Sử dụng grid CSS ! */
  /* width: 600px;
  height: 400px; */
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background-color: aliceblue;
}

.box {
  background-color: #ccc;
  /* width: 100px;
  height: 100px; */
  border-radius: 10px;
}

.box1 {
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  background-color: rgb(11, 163, 234);
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box3 {
  background-color: rgb(184, 3, 193);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.box4 {
  background-color: rgb(216, 166, 15);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.box5 {
  background-color: rgb(6, 68, 48);
}
.box6 {
  background-color: rgb(42, 42, 3);
}
