* {
  font-size: 1.5rem;
}

.box {
  background-color: brown;
  border: 2px solid yellow;
  width: 40%;
}

.container {
  display: flex;
  background-color: #ccc;
  flex-flow: wrap row;
  flex-flow: wrap-reverse row;
}
