a {
  text-decoration: none;
  /* Thuộc tính bỏ gạch chân trên thẻ a ! */
  background-color: brown;
  border-radius: 999px;
  display: inline-block;
  width: 100px;
  padding: 25px 10px;
  text-align: center;
  color: black;
}

a:hover {
  background-color: blue;
  color: aliceblue;
}

body {
  background-color: black;
}
